.form-list-options{
  width: 100%;
}
.selected_options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  min-height: 10rem;
  background-color: bisque;
  border: 1px solid brown;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn_icon {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}
.dropbtn {
  background-color: #00000000;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  /* border-radius: 0.8rem; */
  margin: 0.5rem ;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00000070;
  min-width: 100%;
  max-height: 20rem;
  overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-item {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover{background-color: #f1f1f1}

/* Show the dropdown menu on hover */
/* .dropdown:focus .dropdown-content,  */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0000009f;
}