.filters{
    display: flex;
    flex-direction: row;
    padding: 2rem 1.5rem;
    background-color: #011526aa;
    color:rgba(255, 255, 255, 0.74);
    font-family: "Brutal Type";

}
.iconito{
    transform: rotateY(180deg);  
}
.filters_reset{
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}
.filters_reset_icon{
    font-size: 4rem;
    color:rgba(255, 255, 255, 0.8);
}